.title{
	text-align: center;
}

.table{
	border-style: solid;
	border-collapse: collapse;
	border-color: white;
	background-color: lightgray;
	
}

td,th{
	border-style: solid;
	border-color: white;
	padding: 5px 5px 5px 5px;
	text-align: center;
}